#banner{
	top: 0;
	left: 20%;
	width: 60%;
	height: 150px;
	position: absolute;
	background-color: #FF00FF;
}
#navigation{
	position: relative;
	left: 5%;
	top: 150px;
	height: 35px;
	width: 90%;
	background: rgba(0,0,0,0.75);
}
#content{
	
}
#imageBar{
	
}
#navBar{
	
}
#imageBox{
	
}