.h1{
font-size:40px;
position: relative;
}

.h2{
color:red;
position: absolute;
}

.Funnytext{font-family:"Comic Sans", Sans-Serif;}

#capitalize{
  text-transform: capitalize;
}

#cool{
  position: fixed;
}

#yellow{
  background-color: yellow;
}
